.container {
  display: flex;
  /* height: 90vh; */
  justify-content: center;
  align-content: center;
  place-self: center;
  padding: 10px 0px;
}
.card {
  width: 100%;
  padding: 10px 0px;
  text-align: center;
}
